.site-header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--ft-bg-topbar);
    border-bottom: 1px solid var(--ft-bg-topbar-border);
}

main {
    width: 100%;
    max-width: 54rem;
    margin: 0 auto;
    padding: 0 1rem;
}

.content {
    padding: 1.5rem 0 4rem;
}
